
/* fonts */
@font-face {
  font-family: "Brawler";
  src: url("/Brawler-Regular.ttf") format("truetype"); /* Adjust the path and format as needed */
}

.about-heading {
  position: absolute;
  color: rgba(255, 250, 250, 0.963);
  top: 25%;
  left: 50%;
  
  /* font-weight: 600; */
  transform: translateX(-50%);
  width: 70%; 
  font-size: 18px;
  line-height: 1.5; 
  text-align: center;
  word-wrap: break-word;
  font-family: "Brawler";   
}

/* Add a media query for smaller screens */
@media (max-width: 768px) {
  .about-heading {
    width: 90%;
    font-size: 14px; 
  }
}
