
@font-face {
  font-family: "PP Rader";
  src: url("/Phudu-SemiBold.ttf") format("truetype"); 
}

.resume-download-container {
  position: absolute;
  bottom: 20%;
  left: 20px;
  padding: 7px 40px;
  background-color: black;
  color: rgb(244, 224, 224);
  border: 1.5px solid #fd5704;
  border-radius: 200px;
  display: flex;
  align-items: center;
  cursor: pointer;
  z-index: 10;
}

.resume-download-container:hover {
  /* background-color: transparent;  */
  background: linear-gradient(to bottom, #000000, #333333);
}

.download-link {
  display: flex;
  flex-direction: column; 
  align-items: center;
  text-align: center; 
  text-decoration: none;
  color: inherit;
  font-family: "Brawler";
  font-size: 1.2rem;
  margin: 5px;
}

.download-icon {
  margin-bottom: 5px; 
}

/* Media Query for Smaller Screens */
@media (max-width: 768px) {
  .resume-download-container {
    bottom: 10px;
    left: 10px; 
    padding: 5px; 
    width: 25%; 
  }

  .download-link {
    font-size: 14px; 
    margin: 3px; 
  }

  .download-icon {
    margin-bottom: 3px; 
  }
}
