body {
  scroll-behavior: smooth;
  background: black;
  margin: 0;
  padding: 0;

}

.Navbar {
  position: absolute;
  z-index: 1;
  background: transparent;
  color: white;
}

.homesection {
  height: 100vh;
  width: 90vh;
}

.About {
  position: relative;
  left: 30vw;
  top : -10%;
  color: #ff5733;
  font-size: 70px;
  font-family: "Bungee";
}

/* Add a media query for smaller screens */
@media (max-width: 768px) {
  .first-text {
    font-size: 40px; 
  }

  .first {
    top: 5%; 
    left: 20%; 
  }

  .About {
    top: 4%;
    left: 30vw;
    font-size: 40px;
  }
}

/* fonts */
@font-face {
  font-family: "PP Rader";
  src: url("/Phudu-SemiBold.ttf") format("truetype"); /* Adjust the path and format as needed */
}
@font-face {
  font-family: "Bungee";
  src: url("/BungeeShade-Regular.ttf") format("truetype"); /* Adjust the path and format as needed */
}

/* Add other font imports if needed */

.floating-image-container {
  width: 20vw;
  height: 40vh;
  top: -70%;
  position: relative;

  box-shadow: 10px 10px 50px rgba(109, 82, 82, 0.5);

  
}

.floating-image-container .image {
  width: 100%;
  height: 100%;
  position: relative !important;
  object-fit: cover;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1); 
  transition: transform 1s ease-in-out;
}

.floating-image-container:hover {
  transform: translateY(-10px); 
}

/* Add a media query for smaller screens */
@media (max-width: 768px) {
  .floating-image-container {
    max-width: 100%; 
    top: -40%;
    width: 25%;
    height: 30%;
  }

  .floating-image {
    max-width: 100%; /* Make the image width 100% for smaller screens */
  }
}

/* marqueeee */

.marquee-container {
  position: absolute;
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 5%; /* Adjust the height as needed */
  top: 85%;
  background-color: rgb(14, 15, 15);
  margin-bottom: 20px;
  border: 2px solid white;
}

.marquee-stationary {
  display: flex;
  align-items: center;
  padding-left: 1%; 
  color: white;
  font-size: 120%;
  font-family: "PP Rader";
  order: 2;
}
.marquee {
  position: absolute;
  display: flex;
  animation: marquee 20s linear infinite reverse; /* Adjust the duration as needed */
}

.marquee-content {
  padding: 0 1%; /* Adjust the padding as needed */
}

.marquee2 {
  animation-name: marquee2; /* Define the animation for the second marquee */
}

@media (max-width: 768px) {
  .marquee-container {
    height: 4%; 
    top: 90%; 
    margin-bottom: 10px; 
  }

  .marquee-stationary {
    font-size: 100%; /* Adjust the font size for smaller screens */
  }
}

@keyframes marquee2 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(calc(-100% + 100vw));
  }
}

.marquee2 {  
  width: 100%;
  margin-top: 0%;
  font-size: 120%;
  background-color: transparent; 
  color: white;
  font-family: "PP Rader";
}

